body{
    display: flex;
}
.timer{
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 150px;
    margin: 200px auto;
}
.field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.value{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}
.label{
    font-size: 20px;
}