.container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 30px;
  background-color: royalblue;
}
.gallery-item {
  width: 30%;
}

#validation-input {
  border: 3px solid #bdbdbd;
  display: block;
  margin-bottom: 30px;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
