html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-image: url('./images/bg-pattern.png');
  font-size: 30px;
}
.wrapper {
  width: 700px;
  margin: 150px auto 0;
}
input {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.country-card {
  list-style: none;
}
.country-card-title {
  text-align: center;
  margin-bottom: 40px;
}
.left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.launguages-list {
  padding: 0;
}
span {
  font-weight: bold;
}
